<p id="notice"><%= notice %></p>

<h1>Listing Toons</h1>

<table>
  <thead>
    <tr>
      <th width="225">Name</th>
      <th width="225">Archetype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toons.each do |toon| %>
      <tr>
        <td><%= toon.name %></td>
        <td><%= get_archetype(toon.archetype_id) %></td>
        <td><%= link_to 'Show', toon %></td>
        <td><%= link_to 'Edit', edit_toon_path(toon) %></td>
        <td><%= link_to 'Destroy', toon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toon', new_toon_path %>
